*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    .intro {
        height: 100vh;
    }
    
    .intro video {
        
        height: 100%;
        width: 100;
        object-fit: cover;
    }
}
